# Reticulum server config
#
# Qortal settings (settins.json) used for generation of this config:
# "reticulumHasServerInterface": node has gateway interface [boolean]
# "reticulumDesiredClientInterfaces": how many Backbone server interfaces
#                                      to generate [integer] (deafault: 1)
# "reticulumTCPGatewayServers": list of TCP Gateway node fqdn[:port] strings
#                               (port optional) [json list]
# "reticulumBackboneGatewayServers": list of Backbone Gateway node fqdn[:port] strings
#                               (port optional) [json list]
# "reticulumUsePythonRNS": there is a Python shared rnsd on on the node [boolean]
#                          Note: the rnsd instance must have a gateway interface
# "reticulumPythonRNSGatewayPort": the port to the desired PythonRNS interface [int]
# "reticulumPassphrase": shared passphrase for IFAC network isolation (optional) [string]
#                        Must match on backbone server and all client nodes.

reticulum:

{% if use_python_rns %}
  # If a local Python RNS routes we don't have to
  enable_transport: false
{% elif is_reticulum_gateway %}
  # This Qortal instance is configured as a Reticulum gateway
  enable_transport: true
{% else %}
  # default
  enable_transport: false
{% endif %}

  share_instance: true

  # default used by RNS
  #shared_instance_port: 37428
  #instance_control_port: 37429
  # we'll use a different default port
  shared_instance_port: 37438
  instance_control_port: 37439

  panic_on_interface_error: false

interfaces:

  # This interface enables communication with other
  # link-local Reticulum nodes over UDP. It does not
  # need any functional IP infrastructure like routers
  # or DHCP servers, but will require that at least link-
  # local IPv6 is enabled in your operating system.
  "Default Interface":
    type: AutoInterface
    enabled: true
    network_name: {{ qortal_network_name }}
{%- if passphrase %}
    passphrase: {{ passphrase }}
{% endif %}

{% if is_reticulum_gateway %}
  # full gateway node with BackboneServerInterface
  "Backbone Server Interface qortal local":
    type: BackboneServerInterface
    enabled: true
    listen_ip: 0.0.0.0
    listen_port: {{ python_rns_if_port }}
    network_name: {{ qortal_network_name }}
{%- if passphrase %}
    passphrase: {{ passphrase }}
{% endif %}
{% endif %}
{% if use_python_rns %}
  # gateway node: client to local Python RNS instance
  "Backbone Client Interface qortal local":
    type: BackboneClientInterface
    enabled: true
    target_host: localhost
    target_port: {{ python_rns_if_port }}
    network_name: {{ qortal_network_name }}
{%- if passphrase %}
    passphrase: {{ passphrase }}
{% endif %}
{% endif %}
{%- set b_gateway_servers = backbone_gateway_servers|split(' ')|shuffle -%}
{%- for item in b_gateway_servers -%}
  {%- set fqdn_port_list = item|split(':') -%}
  {%- if fqdn_port_list|length > 1 -%}
    {%- set item_fqdn = fqdn_port_list[0] -%}
    {%- set item_target_port = fqdn_port_list[1] -%}
  {%- else -%}
    {%- set item_fqdn = item -%}
    {%- set item_target_port = target_port -%}
  {%- endif -%}
  {% if (loop.index <= num_client_interfaces) and (item_fqdn != host_fqdn) %}
  "Backbone Client Interface qortal {{ item_fqdn }}":
    type: BackboneClientInterface
    enabled: true
    target_host: {{ item_fqdn }}
    target_port: {{ item_target_port }}
    network_name: {{ qortal_network_name }}
{%- if passphrase %}
    passphrase: {{ passphrase }}
{% endif %}
  {% endif %}
{%- endfor -%}
{%- set t_gateway_servers = tcp_gateway_servers|split(' ')|shuffle -%}
{%- for item in t_gateway_servers -%}
  {%- set fqdn_port_list = item|split(':') -%}
  {%- if fqdn_port_list|length > 1 -%}
    {%- set item_fqdn = fqdn_port_list[0] -%}
    {%- set item_target_port = fqdn_port_list[1] -%}
  {%- else -%}
    {%- set item_fqdn = item -%}
    {%- set item_target_port = target_port -%}
  {%- endif -%}
  {% if (loop.index <= num_client_interfaces) and (item_fqdn != host_fqdn) %}
  "TCP Client Interface qortal {{ item_fqdn }}":
    type: TCPClientInterface
    enabled: true
    target_host: {{ item_fqdn }}
    target_port: {{ item_target_port }}
    network_name: {{ qortal_network_name }}
  {% endif %}
{%- endfor -%}
